/* contact */
.contactWrapper .lead {
	line-height: 1.8;
	list-style: none;
	font-size: 18px;
	padding-top: 40px;
	padding-bottom: 40px; 
}

.contactWrapper .googleform {
	border: 0;
	height: 1150px; 
	width: 100%;
}

.contactWrapper {
  background-color: #ede7f6;
  text-align: center;
}
