@charset "utf-8";
/* =========== すべて共通 ===========*/
.eventWrapper ul {
    list-style: none;
    padding-left: 0;
    justify-content: center;
}


p { 
    font-size: 16px;
}

.subTitle {
    font-size: 32px;
}

.subTitle2 {
    font-size: 64px;
}

h2 {
    font-size: 60px;
}

.navibar {
    display: flex;
}

.navibar li {
	width: 200px;
	height: 50px;
	padding: 25px;
	margin: 25px;
    font-size: 24px;
}


.img-right {
    display: block;
    height: 700px;
    width: 950px;
    margin-left: 800px;
    overflow: hidden;
    border-radius: 60px;
}

.img-left {
    display: block;
    height: 700px;
    width: 950px;
    margin-right: 150px;
    margin-left: 300px;
    overflow: hidden;
    border-radius: 30px;
}

.main-Wrapper {
    display: flex;
    margin-top: 110px;
    margin-bottom: 110px
}

.main-Wrapper li {
    display: flex;
    margin-left: 160px;
}

.main-Wrapper span {
    color:aquamarine;
}

.leftText{
    margin-left: 150px;
}