.eventWrapper {
	max-width: 1320px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*navi*/
.eventWrapper .navi .navibar {
	display: flex;
}
.eventWrapper .navi .navibar li {
	flex: 1;
	text-align: center;
}

/*eventcontens*/
.eventWrapper .eventContents {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.eventWrapper .imageItem{
	flex: 1;
	text-align: center;
} 
.eventWrapper .textItem {
	flex: 1;
}
.eventWrapper .imageItem img{
	width: 100%;
	max-width: 500px;
	height: 350px;
	object-fit: cover;
	border-radius: 30px;
}

.eventContents .left {
	text-align: right;
	padding-right: 10px;
}
.eventContents .right {
	text-align: left;
	padding-left: 10px;
}